*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary-color : #f2f3f5;
    --primary-black-color : #000;
    --primary-white-color : #fff;
    --gray-color : #333;
     --bg-gradient : linear-gradient(to bottom , #f2f3f5 5%, #f680f5 30% , #f6abf5 50%);
    --primary-gradient : linear-gradient(to bottom , #F2E1F6 0% , #F680F9 100%);
    --secondary-gradient : linear-gradient(to right , #FF9A9E 0% , #FAD0C4 100%);

    --font-family : 'Inter Tight' , sans-serif;

}


body{
    font-family: var(--font-family);
    color: var(--primary-black-color);
    background-color: var(--bg-primary-color);
    overflow-x: hidden;
}

.inlinePadding{
    padding-inline: 120px;
}

a{
    text-decoration: none;
    color: var(--primary-black-color);
}
img{
    max-width: 100%;
}

.content-title .primary-title{
    font-size: 6rem;
    line-height: 85px;
    overflow: hidden;
}

.primary-title span{
    display: block;
}

.secondary-title{
    font-size: 4.5rem;
    list-style: 55px;
}



.center-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:60px;
    text-align: center;
}

.sub-title{
   font-size: 24px;
   font-weight: 700;
   padding-bottom: 20px;
}

/* .primary-btn{

} */

.v-line{
    height: 80px;
    width: 2px;
    background: var(--primary-black-color);
    margin-block: 80px;
}




/* HEADER STYLE */



.wrapper-container{
    background: var(--bg-gradient);
    max-height: 100vh;
}


#header{
    padding-block:20px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.scroll-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links{
   display: flex;
   gap: 20px;
}

.nav-links li{
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 15px;
}

.nav-links li a{
    color: var(--gray-color);
}

.nav-links li a.active{
    color: var(--primary-black-color);
}

 a:hover{
    color: var(--bg-primary-color);
}

.menuBar{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
    position: relative;
}

.menuBar span{
    width: 40px;
    height: 3px;
    background: var(--primary-black-color);
    transition: all ease-in 0.3s;
}

/* HERO STYLE */


#hero-container{
 height: 90vh;
}

#hero-container .content-title{
    position: relative;
    z-index: 1;
    color: var(--primary-black-color);
    text-align: center;
}



/* IMAGE STYLE */

#image-container{
    padding-block: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:linear-gradient(to bottom, #f5AAF4 0% , #FB89AE 100%);
}

.over-lay{
    
}