* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-color: #f2f3f5;
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --gray-color: #333;
  --bg-gradient: linear-gradient(
    to bottom,
    #f2f3f5 5%,
    #f680f5 30%,
    #f6abf5 50%
  );
  --primary-gradient: linear-gradient(to bottom, #f2e1f6 0%, #f680f9 100%);
  --secondary-gradient: linear-gradient(to right, #ff9a9e 0%, #fad0c4 100%);

  --font-family: "Inter Tight", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--primary-black-color);
  background-color: var(--bg-primary-color);
  overflow-x: hidden;
}

.inlinePadding {
  padding-inline: 120px;
}

a {
  text-decoration: none;
  color: var(--primary-black-color);
}
img {
  max-width: 100%;
}

.content-title .primary-title {
  font-size: 6rem;
  line-height: 85px;
  overflow: hidden;
}

.primary-title span {
  display: block;
}

.secondary-title {
  font-size: 4.5rem;
  line-height: 65px;
}

.primary-btn {
  background: var(--primary-white-color);
  color: var(--primary-black-color);
  padding: 16px 24px;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--font-family);
  cursor: pointer;
  margin-top: 5rem;
}

.center-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  text-align: center;
}

.sub-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

/* .primary-btn{

} */

.v-line ,.h-line {
  height: 80px;
  width: 2px;
  background: var(--primary-black-color);
  margin-block: 80px;
}


.h-line{
    width: 80px;
    height: 2px;
}
.gray-color{
    color: gray;
}
/* HEADER STYLE */

.wrapper-container {
  background: var(--bg-gradient);
  max-height: 100vh;
}

#header {
  padding-block: 20px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.scroll-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 15px;
}

.nav-links li a {
  color: var(--gray-color);
}

.nav-links li a.active {
  color: var(--primary-black-color);
}

a:hover {
  color: var(--bg-primary-color);
}

.menuBar {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  position: relative;
}

.menuBar span {
  width: 40px;
  height: 3px;
  background: var(--primary-black-color);
  transition: all ease-in 0.3s;
}

/* HERO STYLE */

#hero-container {
  height: 90vh;
}

#hero-container .content-title {
  position: relative;
  z-index: 1;
  color: var(--primary-black-color);
  text-align: center;
}

/* IMAGE STYLE */

#image-container {
  padding-block: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f5aaf4 0%, #fb89ae 100%);
}

.over-lay {
  position: relative;
  z-index: 5;
  width: 60vw;
  height: 750px;
  background: url("../../image/BSI2.webp");
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

/* WORK STYLE */

#work-section {
  height: 82vh;
  justify-content: initial;
  background: linear-gradient(100deg, #fb89ae 0%, #f2f3f5 60%);
}

.client {
  margin-top: 4rem;
}

/* BRAND STYLE */
.logos {
  overflow: hidden;
  padding: 15rem 0;
  background: #f2f3f5;
  white-space: nowrap;
  position: relative;
}

.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos::before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f3f5);
}

.logos::after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f3f5);
}

.logos-slide .brand-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 40px;
  }
  
  .branding .logos-slide{
    display: inline-block;
    animation: slides 35s infinite linear;
  }

@keyframes slides{
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  #recent-project-container{
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2rem;
  }

  .article{
    position: relative;
    max-width: 320px;
    max-height: 820px;
    width: 260px;
    height: 433px;
    border-radius: 15px;
    margin-top: 3rem;
    overflow: hidden;
    cursor: pointer;
  }

  .article:hover::before{
    content: "View more";
    position: absolute;
    top: 0rem;
    left: 0;
    width: 260px;
    height: 433px;
    border-radius: 15px;
    background: var(--secondary-gradient);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(--primary-white-color);
    font-size: 1rem;
  }

  .article img{
     width: 100%;
     height: 100%;
     object-fit: cover;
  }

  .items h4{
    padding-block: 10px;
  }

  #footer{
    background: linear-gradient(360deg, #fe7abd 0%, #f2f3f5 100%);
    height: 100vh;
    width: 100%;
    margin-top: 170px;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .info{
    display: flex;
    justify-content: space-between;
    align-items: cend;
  }
  .space h1{
      font-size: 2.5rem;
      font-weight: 500;
  }
  .h-line{
    height: 2px;
    width: 100%;
    background: var(--gray-color);
    margin-block:10px;
  }
  .right{
    display: flex;
    justify-content: space-between;
  }



