* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background: #000;
  transition: all 3s;
  overflow-x: hidden;
}

/* UTILITIES */
ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6vw;
  letter-spacing: -1px;
  font-weight: 600;
}
a:hover {
  color: red;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.coverUp-Image {
  width: 100%;
  height: 100vh;
  background: url("../../img/img-3.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#h-container {
  width: 100%;
  z-index: 10;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.site-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0px;
  border-bottom: 2px solid #fff;
  margin: 0px 2rem;
  transition: all 2s;
}
.brand {
  font-size: 1.9vw;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.copy-right {
  font-size: 1.2vw;
  font-weight: 400;
}

/* main style */

.discover {
  display: flex;
  justify-content: center;
  color: #fff;
}
.discover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8.79rem;
}
.slide {
  background: red;
  border-radius: 9px;
  width: 80vw;
  max-width: 80vw;
  overflow: hidden;
}
.slide h1 {
  display: block;
  font-size: 13.8vw;
  font-weight: 800;
  letter-spacing: -10px;
  line-height: 0.8;
}
.lightwidth {
  font-size: 10.8vw;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 8px;
}
/* img style */
.img-cover {
  position: relative;
  height: 120vh;
}
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    top: 8%;
    left: 0;
    clip-path: circle(20% at 50% 50%);
}
.lightTheme {
    background: #fff;
    color: #000;
}

/* tag style */

.tag-container{
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}
.t-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    width: 100rem;
}

span{
    font-size: clamp(1.5rem,3vw,2rem);
    font-weight: 800;
    letter-spacing: 5px;
    color: #000;
    margin-bottom: 1rem;
    border: 1px solid #000;
    border-radius: 100vw;
    padding: 1rem 4rem;
    cursor: pointer;
    transition: all 2s;
}
span:hover{
    background: red;
    color: #fff;
    transition: all ease-in 2s;
}

/* Furniture section container */
.furniture{
    height: 100vh;
    position: relative;
    margin: 0px 2rem;
}
.furniture-title{
    bottom :0;
    font-size: 14vw;
    font-weight: 800;
    letter-spacing: 5px;
    color: #000;
    margin-bottom: 1rem;
}
.furniture-grid-wrapper{
    width: 100%;
    height: 100vh;
}

.grid-item{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 8vw;
}

/* Furniture images container */

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box{
    flex: 1;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.box:nth-child(1){
    aspect-ratio: 1/1.8;
    flex-basis: 120px;
    transform: translateY(10%);
}
.box:nth-child(2){
    aspect-ratio: 1/1.2;
    flex-basis: 100px;
    transform: translateY(10%);
}
.box:nth-child(3){
    aspect-ratio: 1/1;

    transform: translateY(-120%);
}
.box:nth-child(4){
    aspect-ratio: 1/1.4;
    flex-basis: 200px;
    transform: translateY(60%);
}